<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" style="height: 200px;"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">About(変更済)</h2></br>
      <p class="text-center">
        〜新たなゲームとの出会いをこの場所から〜</br>
        あなたの感動を別の誰かに共有したい時</br>
        新たなゲームを始めたいなと思った時</br>
        この場所を訪れてみてください</br>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="height: 200px;"></div>
  </div>
</div>