<p id="notice"></p>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mx-3 mb-3 mt-3">
      <h3>登録ユーザー一覧</h3>
    </div>
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th width="10%"></th>
            <th width="15%">名前</th>
            <th width="75%">自己紹介</th>
            <th></th>
          </tr>
        </thead>
        <% @user.each do |user| %>
        <tbody>
          <tr>
            <td><%= attachment_image_tag(user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg",size:'40x40') %></td>
            <td>
              <%= link_to admin_user_path(user) do %>
                <%= user.name %>
              <% end %>
              </td>
            <td><%= user.introduction %></td>
            <td></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>